@import url("https://fonts.googleapis.com/css2?family=Lato&family=Amatic+SC&display=swap");

:root {
  --pale-accent: #b7c7f3;
  --accent: #371268;
  --grey: #bababa;
  --darkgrey: #4f4f4f;
  --lightgrey: #dbe1f3;
  --white: #fff;
  --accent-font: "Amatic SC", cursive;
  --basic-font: "Lato", sans-serif;
}
/* }
:root {
  --pale-accent: #E8D8C5;
  --accent: #582336;
  --grey: #BABABA;
  --darkgrey: #4F4F4F;
  --lightgrey:  #d8d8d8;
  --white: #FFF;
  --accent-font: 'Great Vibes', cursive;
  --basic-font: 'Lato', sans-serif;
} */

* {
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
  font-family: var(--basic-font);
}
body {
  background: var(--lightgrey);
}
/* ------------------------------------------------- */
/* GLOBAL STYLES */

.navLink {
  color: var(--accent);
  font-weight: 600;
}

.title {
  margin: 20px auto 30px auto;
  font-size: 2em;
}

.ava {
  background-color: var(--darkgrey);
  height: 65px;
  width: 65px;
  margin: 10px;
  border-radius: 40px;
  border: 2px solid white;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  z-index: 5;
  overflow: hidden;
}
.ava > img {
  width: 100%;
  overflow: hidden;
}

.btn {
  background-color: var(--accent);
  color: var(--white);
  padding: 5px 20px;
  border-radius: 5px;
}
.btn:disabled {
  background-color: var(--darkgrey);
}

.btn:hover {
  cursor: pointer;
}

.failmessage {
  color: red;
  font-weight: 400;
}

/* ------------------------------------------------- */
/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-family: var(--accent-font);
  background-color: var(--pale-accent);
  font-size: 55px;
}

/* ------------------------------------------------- */
/* NAVBAR */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  min-height: 25px;
  font-size: 1.1em;
  padding: 5px 15px;
  background-color: var(--accent);
  color: var(--white);
}
.nav,
.nav-name,
.ava,
.nav-log {
  display: inline;
  color: var(--white);
  text-decoration: none;
}
.nav,
input {
  margin: 10px 15px;
}

.nav-log {
  margin: 5px;
}
.nav-log:hover {
  cursor: pointer;
}
.nav-name {
  margin: 5px 5px 5px auto;
}

/* ------------------------------------------------- */
/* AUTHFORMS */
.authform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info {
  color: var(--darkgrey);
  font-size: 0.8em;
}
/* ------------------------------------------------- */
/* NEW POLL */
.opt-input {
  margin: 15px;
  resize: none;
}
/* ------------------------------------------------- */
/* LEADERBOARD */
.leaderbaord {
  display: inline-grid;
  margin-top: 60px;
  align-items: center;

  grid-gap: 15px;
  grid-template-columns: 80px 1fr 1fr 1fr;
  width: 60vw;
}
.inline-frame {
  grid-column: span 4;
  display: inline-grid;
  grid-template-columns: 80px 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 15px;
}
.username {
  text-align: left;
}

.LBtitle {
  font-size: 1.2em;
  font-weight: 600;
}
